h1 {
  text-align: center;
}
.juduluser {
  margin-left: 20%;
  justify-content: center;
}
div img {
  margin-left: 5px;
  vertical-align: middle;

}
.namauser {
  text-decoration: underline;
}
p {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
}



